@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(
      safe-area-inset-bottom,
      20px
    ) env(safe-area-inset-left, 20px);
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.markdown li,
.markdown p {
  margin-bottom: 1rem;
}

.markdown li > p:first-child {
  margin-bottom: 0;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(255, 140, 0);
  text-underline-offset: 0.2em;
  margin-bottom: 1rem;
}
.recharts-tooltip-wrapper {
  z-index: 1000;
}

.ring-2 {
  --tw-ring-offset-shadow: none;
  --tw-ring-shadow: none
  box-shadow: none;
}

* {
  --tw-ring-color: none !important;
}